/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('image.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #333;
    
}

header {
    background-color: #333;
    padding: 1rem 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: green;
    text-decoration: none;
    font-size: 1.1rem;
}

.hero-section {
    background: url('image.jpg') no-repeat center center/cover;
    height: 50vh;
    color: yelow;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section {
    padding: 2rem 1rem;
    text-align: center;
}

.services-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.service {
    background-color: yelow;

 
   padding: 1rem;
    margin: 1rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 30%;
}
footer 
{
    background-color: #333;
    color: yelow;
    text-align: center;
    padding: 1rem 0;
}

footer p {
    margin: 0;
}
#contact {
    color: #FF5733; green
}
